.test {
    width: 400px;
    height: 870px;
    border: 5px solid black;
    background-color: #B4836D;
    font-size: 20px;
    margin-top: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
  }
  